[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = false
name = "pytorch"

[packages]
numpy = "*"
torchvision = "*"
torchaudio = "*"
torch = {version = "*", index = "pytorch"}
torch-geometric = "*"
rdkit = "*"
tqdm = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
